/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: s#fafafa;
}

header {
  background-color: #98e8bb;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  color: green;
  font-size: larger;
}

.header-left .toggle-button {
  cursor: pointer;
  background: yellow;
  border: thick;
  padding: 5px;
  margin-right: 10px;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #0c850c;
  margin: 4px 0;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right button {
  margin-left: 10px;
  padding: 8px;
  background-color: #e42e49;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.header-right button:hover {
  background-color: #3181cc;
}

main {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #9fbdac;
  border-right: 1px solid #dbdbdb;
  padding: 20px;
  display: none; /* Hidden by default */
  height: fit-content;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #101b04;
  font-weight: bold;
}

.sidebar a:hover {
  text-decoration: underline;
}

.feeds {
  flex: 1;
  padding: 20px;
}

.post-form {
  background-color: whitesmoke;
  padding: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 95%;
  
}

.post-form textarea,
.post-form input[type="file"],
.post-form button {
  width: 100%; /* Make the input and button full width */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  color: #0c850c;
  font-weight: bold;
  font-size: 1em;
  
}


h11 {
  font-size: 1.5em; /* Adjust the size as needed */
  font-weight: bold;
  color: #333; /* Optional: Change the color */
  margin-bottom: 2000px; /* Adjust the margin as needed */
}


.posts {
  
  /* Styles for posts will be dynamically added */
}

.chat {
  width: 250px;
  background-color: #eef4ee;
  padding: 20px;
  border-left: 1px solid #dbdbdb;
}

.chat h2 {
  margin-bottom: 10px;
}

.chat ul {
  list-style-type: none;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar,
  .chat {
    display: none;
  }

  main {
    flex-direction: column;
  }
}

.post {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.post img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.post-datetime {
  font-size: 0.8em;
  text-align: right;
  color: #666;
  margin-top: 5px; /* Optional: Adjust margin for spacing */
}
